asgiref==3.8.1
black==24.3.0
click==8.1.7
dj-database-url==2.1.0
dj-email-url==1.0.6
Django==4.2.11
django-cache-url==3.4.5
environs==11.0.0
gunicorn==21.2.0
h11==0.14.0
marshmallow==3.21.1
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
psycopg==3.1.18
psycopg-binary==3.1.18
python-dotenv==1.0.1
sqlparse==0.4.4
typing_extensions==4.11.0
tzdata==2024.1
uvicorn==0.29.0
whitenoise==6.6.0
